Source: python-soma
Section: python
Priority: extra
Maintainer: Stuart Layton <slayton@mit.edu>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://soma.mit.edu

Package: python-soma
Architecture: any
Depends: python2.6
Description: Provides common files for Soma Python software
